body {
    background-color: aqua;
}
h1{
    text-align: center;
}
.parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#earnList {
    list-style-type: none; /* Removes the bullet points */
}
#disbursementList{
    list-style-type: none;
}


